@page "/"
@using Type = CompetitiveTool.Data.Type;

<h1>Test your knowledge of the types in Pokemon!</h1>

<div @onclick="(() => GenerateRandomTypes())" class="btn btn-primary">Regenerate</div>

<div>
    <img src="@CurrentObjType.ImagePath" style="width:133px;height:170px;"> is super effective against:
</div>

<div class="container">
    <div class="row">
        @foreach (Type type in TypesSuperEffectiveAgainst)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <img src="@type.ImagePath" style="width:133px;height:170px;">

            </div>
        }
    </div>
</div>

<div>
    GAME CHOICES
</div>

<div class="container">
    <div class="row">
        @foreach (Type type in Types)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <img src="@type.ImagePath" style="width:133px;height:170px;">

            </div>
        }
    </div>
</div>