<div style="position: relative; display: flex; justify-content: center;">
    <img @onclick="OnClick" src="@Option.ImagePath"
         style="width:133px;height:170px; cursor: pointer; @IsHoveredCSS"
         @onmouseover="OnMouseOver" @onmouseout="(() => { IsHovered = false; StateHasChanged(); })">
    @if(IsSelected)
    { 
        <div style="position: absolute; top: 0; left: 0; background-color: yellow; width: 100%; height: 100%; opacity: 0.55;">

        </div>
    }
</div>